## Problem Solving

In [1]:
str = 'My Name is Jessa'
print(str[::-1])

asseJ si emaN yM

In [6]:
for n in range(1,11):
    print(f"Current Number {n} Previous Number {n-1} Sum: {n + (n-1)}")

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [7]:
txt = input("Enter text: ")
for index, char in enumerate(txt):
    if index % 2 == 0:
        print(char)

Enter text:  abdo

a
d

In [13]:
def remove_chars(txt, n):
    if n < len(txt):
        return txt[n:]
    else:
        return ""

# Example usage:
result = remove_chars("PYnative", 4)
print(result)

tive

In [19]:
def check_equal(lst):
    if lst[0] == lst[-1]:
        print("True")
    else:
        print("False")

check_equal([10, 20, 30, 40, 10])

True

In [21]:
def is_divided_by5(lst):
    list_5 = []
    for item in lst:
        if item % 5 == 0:
            list_5.append(item)
    return list_5

# Example usage:
result = is_divided_by5([10, 20, 33, 67, 89, 90, 0, 5])
print(result)

[10, 20, 90, 0, 5]

In [24]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display the pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [29]:

for num in range(1,101):
    print (num, end=" ")
    if num % 10 == 0:
        print() # Moves to the next line

1 2 3 4 5 6 7 8 9 10

11 12 13 14 15 16 17 18 19 20

21 22 23 24 25 26 27 28 29 30

31 32 33 34 35 36 37 38 39 40

41 42 43 44 45 46 47 48 49 50

51 52 53 54 55 56 57 58 59 60

61 62 63 64 65 66 67 68 69 70

71 72 73 74 75 76 77 78 79 80

81 82 83 84 85 86 87 88 89 90

91 92 93 94 95 96 97 98 99 100