# Casting

In [1]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

---

## Multi Words Variable Names

In [3]:
myVariableName = "abdoRizk"     # Camel Case
MyVariableName = "AbdoRizk"     # Pascal Case
my_variable_name = "abdo_rizk"   # Snake Case

---

## Strings are Arrays

In [ ]:
a = "Hello, World!"
print(a[1])    # 'e'  python is zero index
print(a[2:4])  # 'll' 2 --> inclusive //  4 --> exclusive
------------------------------------
for x in a:    # Looping Through a String
  print(x)
------------------------------------
txt = "The best things in life are free!" # Check String
print("free" in txt) # (not in t)
------------------------------------
a = " Hello, World! "
print(a.strip()) # Remove Whitespace

---

## F-Strings

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"   # Display the price with 2 decimals:
print(txt)
-------------------------------
txt = f"The price is {20 * 59} dollars"  # Perform a math operation
print(txt)

# Collections

In [ ]:
# List         ordered    changeable                     duplicate.
# Tuple        ordered    unchangeable                   duplicate.
# Set          unordered  unchangeable*, and unindexed   No duplicate.
# Dictionary   ordered    changeable                     No duplicate.

# List

In [ ]:
list1 = ["abc", 34, True, 40, "male"] # list can contain different data types
-------------------------------
thislist2 = ["apple", "banana", "cherry"]
thislist2.insert(2, "watermelon")  # insert
print(thislist2)
--------------------------------
thislist3 = ["apple", "banana", "cherry"]
thislist3.append("orange")  # append add an item to the end of the list
print(thislist3)
----------------------------------
thislist4 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist4.extend(tropical) # Extend append elements from another list to the current list
print(thislist4)

In [ ]:
#Remove items
thislist5 = ["apple", "banana", "cherry", "banana", "kiwi"] 
thislist5.remove("banana") # remove() method removes the first occurrence
-----------------------------------------
thislist6 = ["apple", "banana", "cherry"]
thislist6.pop(1) # pop() method removes the specified index
thislist6.pop() #removes the last item.
-----------------------------------------
thislist7 = ["apple", "banana", "cherry"]
del thislist7[0] # Del removes the specified index
del thislist7  # Delete the entire list
-----------------------------------------
thislist8 = ["apple", "banana", "cherry"] # Clear
thislist8.clear() # The list still remains, but it has no content.

In [ ]:
# list comprehension 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlis9 = [x for x in fruits if "a" in x]  # [expression for item in iterable if condition == True]
print(newlist9)  # ["apple", "banana", "mango"]
---------------------------------------
newlist10 = [x.upper() for x in fruits]
print(newlist10)

In [ ]:
# sort list 

----------------------
# sort based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)  # can be build in function  ---->  thislist.sort(key = str.lower)
print(thislist)
------------------------
thislist11 = [100, 50, 65, 82, 23]
thislist11.sort(reverse = True)
print(thislist11)
----------------------------
thislist12 = ["banana", "Orange", "Kiwi", "cherry"]
thislist12.reverse()
print(thislist12)

In [ ]:
# Copy a List
--------------------------------------------
thislist13 = ["apple", "banana", "cherry"]  
mylist = thislist13.copy()
print(mylist)
----------------------------------------------
mylist = list(thislist)
print(mylist)
----------------------------------------------
mylist = thislist[:]
print(mylist)

# Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry") # allow duplicate
# Note to create a tuple with only one item, you have to add a comma after the item,
thistuple = ("apple",) # tuple
thisnottuple = ("apple") # string
-------------------------------------------
# update Tuple --> Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)
-----------------------------------------
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(red) # ['cherry', 'strawberry', 'raspberry']

## Set

In [ ]:
# Unordered
# Set items can appear in a different order every time you use them
# Duplicates Not Allowed
# Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
# Duplicate values will be ignored:
thisset1 = {"apple", "banana", "cherry", "apple"} 
print(thisset1) # {"banana", "cherry", "apple"}
-------------------------------
# Note False and 0 is considered the same value:
#      True and 1 is considered the same value:
thisset2 = {"apple", "banana", "cherry", False, True, 0}
print(thisset2) # {False, True, 'cherry', 'apple', 'banana'} 0 is ignored

In [ ]:
# Add Item 
thisset3 = {"apple", "banana", "cherry"}
thisset3.add("orange") # using add method to add only one item
-------------------------------------
thisset4 = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset4.update(mylist4) # update method --> add items from another collections

In [ ]:
# Remove Item
thisset5 = {"apple", "banana", "cherry"}
thisset5.remove("banana") # If the item to remove does not exist, remove() will raise an error.
thisset5.discard("banana") # If the item to remove does not exist, discard() will NOT raise an error.
x = thisset5.pop() # Remove a random item --> Unordered
thisset5.clear() #clear method empties the set: تفريغ من محتواها
del thisset5 # delete the set completely:

In [ ]:
# Join Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2) # union() method
set4 = set1 | set2  # | operator instead of the union() method
print(set3)
print(set4)
# Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.
------------------------------------------------------
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2) # insert update() method
print(set1) # {3, 'c', 'b', 'a', 2, 1}
# Note: Both union() and update() will exclude any duplicate items.
-------------------------------------------------------
# items that are present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2) # using intersection method
set4 = set1 & set2 #  & operator instead of the intersection() method
print(set3)  # {'apple'}
print(set4) # {'apple'}
-----------------------
set8 = {"apple", "banana", "cherry"}
set9 = {"google", "microsoft", "apple"}
set8.intersection_update(set9)
# intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
print(set8)
----------------------------------------------------
set11 = {"apple", "banana", "cherry"}
set12 = {"google", "microsoft", "apple"}
set13 = set1.difference(set2) # difference --> the items from the first set that are not present in the other set.
set14 = set11 - set12 # - operator equal to difference method
print(set13) # {'banana', 'cherry'}
print(set14) # {'banana', 'cherry'}
----------------------------------------------------
set11.difference_update(set12) # difference_update() method to keep the items that are not present in both sets
print(set11) # {'banana', 'cherry'}
-----------------------------------------------------
set15 = set11.symmetric_difference(set12) # symmetric_difference() method will keep only the elements that are NOT present in both 
set16 = set11 ^ set12 # ^ operator instead of the symmetric_difference() method
print(set15) # {'google', 'banana', 'microsoft', 'cherry'}
print(set16) # {'google', 'banana', 'microsoft', 'cherry'}
# NOTE ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.
----------------------------------------------------
set11.symmetric_difference_update(set12) # symmetric_difference_update() method to keep the items that are not present in both sets:
print(set11) # {'google', 'banana', 'microsoft', 'cherry'}

## Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"] # Mustang
y = thisdict.get("model") # Mustang
z = thisdict.keys()   # dict_keys(['brand', 'model', 'year'])
v = thisdict.values() # dict_values(['Ford', 'Mustang', 1964])
i = thisdict.items() # dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
p = thisdict.pop("model") # {'brand': 'Ford', 'year': 1964}
pi = thisdict.popitem() # {'brand': 'Ford', 'model': 'Mustang'}
-----------------------------------------
# Add and update
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car["color"] = "white" # Add a new item to the original dictionarycar["year"] = 2020 # 
car["year"] = 2020 # Make a change in the original dictionary
car.update({"year": 2020}) # update() method will update the dictionary with the items from the given argument.
------------------------------------------
# remove
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model") # remove item with the specified key name
thisdict.popitem() #  removes the last inserted item -->  {'brand': 'Ford', 'model': 'Mustang'}

del thisdict["model"] # removes the item with the specified key name
del thisdict # delete the dictionary completely

thisdict.clear() #  empties the dictionary:
------------------------------------------
# print

for x, y in thisdict.items(): # Loop through both keys and values.
  print(x, y)

----------------------------------------
# copy 

thisdict99 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict1 = thisdict99.copy() # copy method
mydict2 = dict(thisdict) # dict method
print(mydict)

## IF

In [ ]:
if a > b: print("a is greater than b")   # One line if statement
print("A") if a > b else print("B")  # One line if else statement  
# --> Ternary Operators, or Conditional Expressions.
print("A") if a > b else print("=") if a == b else print("B")
------------------------------------------------------
a = 33
b = 200

if b > a:  
  pass   # if statement with no content, put in the pass statement avoid getting an error

## while Loop

In [ ]:
i = 1
while i < 6:  
  print(i)
  if i == 3:
    break    # break statement we can stop the loop even if the while condition is true
  i += 1     # 1 2 3
-------------------------------------
Z = 0
while Z < 6:
  Z += 1
  if Z == 3:
    continue  # continue statement we can stop the current iteration, and continue with the next: 
  print(Z)    # 1 2 4 5 6
------------------------------------
X = 1
while i < 6:
  print(i)
  X += 1
else:   # can run a block of code once when the condition no longer is true
  print("i is no longer less than 6")

## FOR

In [ ]:
for x in range(2, 30, 3): # start from 2 to 29 increment by 3 
  print(x)                # 2 5 8 ...... 29
-----------------------------
for x in range(6):
  print(x)
else:                   # else keyword in a for loop specifies a block of code to be executed when the loop is finished
  print("Finally finished!")
-----------------------------
for x in range(6):
  if x == 3: break     # The else block will NOT be executed if the loop is stopped by a break statement.
  print(x)
else:
  print("Finally finished!")
-------------------------------
# Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)            # red apple - red banana - red cherry -  big apple - ................ tasty cherry
-------------------------------

## Function

In [ ]:
def my_function(*kids):  # If the number of arguments is unknown, add a * before the parameter name
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")  # Linus
-------------------------------------------------
def my_function(**kid):  # If the number of keyword arguments is unknown, add a double ** before the parameter name:
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

--------------------------------------------------
def my_function(country = "Norway"):  # Default Parameter Value
  print("I am from " + country) 

my_function()
---------------------------------------------------
def my_function(x, /): # To specify that a function can have only positional arguments, add , / after the arguments:
  print(x)     

my_function(3)
my_function(x = 3) # error positional-only arguments passed
-------------------------------------------------------
def my_function(*, x): # To specify that a function can have only keyword arguments, add *, before the arguments:
  print(x)

my_function(x = 3)
my_function(3) # error takes 0 positional arguments

## Lambda

In [ ]:
# A lambda function is a small anonymous function.

x = lambda a, b : a * b  # lambda arguments : expression
print(x(5, 6))
------------------------------------------------
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) # use the same function definition to make both functions, in the same program
print(mytripler(11))